:root {
  --primary-color: #2d3e49;
  --secondari-color: #bfb9e8;
  --accent-color-light: #ebf9f1;
  --accent-normal: #4dff3f;
  --accent-dark: #39c471;
  --text-dark: #212121;

  --header-height: 100px;
  /* blue-column-width */
  --bcw: 5.933%;
  /* white-column-width */
  --wcw: 2.617%;
  /* //////////////////////////*/
  /* container-widths */
  --desktop-container-width: 1080px;
  --tablet-width: 980px;
  --tablet-container-width: 738px;
  --mobile-width: 375px;
  --mobile-container-width: 300px;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ol,
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  position: relative;
}
.logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.page-container {
  padding-top: 100px;
  margin-top: -1px;
  position: relative;
}
#main-area {
  padding-bottom: 21.687rem;
  max-width: 80%;
  margin: 0 auto;
}
.h3 {
  margin: 0;
  height: 100%;
  width: 25%;
}

.header-menu:hover {
  color: grey;
}

h1 {
  margin-top: 5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}
.start {
  color: var(--accent-dark);
  margin-top: 6.68rem;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 3.7rem;
}
.age-container {
  display: flex;
  align-items: center;
}
.titles {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-right: 2.06rem;
}
.age {
  /* background-color: black; */
  height: 5rem;
  align-self: center;
  border-radius: 50%;
  width: 14.483%;
  color: var(--text-dark);
  border: 2px solid #39c471;
  box-sizing: border-box;
  border-radius: 50px;
  height: 53px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #212121;
}
.button-container {
  display: flex;
  margin-top: 2.375rem;
  flex-wrap: wrap;
}
.button {
  width: 13.483%;
  height: 3.312rem;
  background-color: var(--accent-color-light);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.617%;
}
.button-lable {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: var(--text-dark);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 100vw;
  height: 21.687rem;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 100%;
  max-width: var(--desktop-container-width);
  background-color: var(--primary-color);
  display: flex;
  position: relative;
}
.footer-image {
  object-fit: contain;
  align-self: center;
  margin-left: 1.5rem;
}
.footer-titles {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 2.625rem;
  text-decoration: none;
  color: #ffff;
  align-self: center;
}
.footer-section {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 4rem;
}
#second-section {
  width: 50%;
  display: flex;
  text-align: center;
}
.third-sec {
  position: relative;
  display: flex;
}
.facebook {
  position: absolute;
  left: 14px;
  bottom: 19px;
}
.Utube-logo {
  margin-left: 1.9rem;
  position: relative;
}
.Utube {
  position: absolute;
  right: 15px;
  bottom: 17px;
}
@media only screen and (max-width: 980px) {
  .desktop-container {
    max-width: var(--tablet-container-width);
  }
  .button-lable {
    font-size: 13px;
    line-height: 19px;
  }
  .titles {
    font-size: 20px;
    line-height: 23px;
  }
  h1 {
    font-size: 32px;
    line-height: 37px;
  }
  br {
    display: none;
  }
  .footer-section {
    flex-wrap: wrap;
  }
  .image-container {
    width: 100%;
  }
  #second-section {
    width: 100%;
  }
  @media (max-width: 375px) {
    .desktop-container {
      max-width: var(--mobile-container-width);
    }
    .footer-titles {
      display: none;
    }
    .button-lable {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
