:root {
  --primary-color: #2d3e49;
  --secondari-color: #bfb9e8;
  --accent-normal: #4dff3f;
  --accent-dark: #39c471;
  --text-dark: #212121;
  /* blue-column-width */
  --bcw: 5.933%;
  /* white-column-width */
  --wcw: 2.617%;
  /* //////////////////////////*/
  /* container-widths */
  --desktop-container-width: 1146px;
  --tablet-width: 980px;
  --tablet-container-width: 738px;
  --mobile-width: 375px;
  --mobile-container-width: 300dpx;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
